<template>
    <div>
        <Navbar></Navbar>
            <div>
                <router-view></router-view>
            </div>
        </div>
</template>

<script>
    import store from '../store/store'
    export default {
        
            created() {
                if(localStorage.token) {
                    axios.get('/api/user', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    },
                    ).then(response => {
                        store.commit('loginUser')
                    }).catch(error => {
                        if (error.response.status === 401 || error.response.status === 403) {
                            store.commit('logoutUser')
                            localStorage.setItem('token', '')
                            this.$router.push({name: 'login'})
                        }

                    });
                }

            },
            computed: {
              isLogin() {
                 return this.$route.name === 'Login'
                },
                isDashboard() {
                    return this.$route.name === 'Dashboard'
                }
            }
    }
</script>
<style scoped>

</style>
