<template>
    <div class="overviewcontent">
        <div>
            <div v-if="projects" class="projectoutput">
                <div v-for="{ id, project_name, project_address, project_house_number, user_id } in projects" class="projects-container">
                    <div class="project-information-section">
                        <div class="imagecontainer">
                            <img class="projectimage" src="/images/img-placeholder.png" alt="project image"><i class="projecticon icon-star-empty"></i>
                        </div>
                        <p v-if="project_name">{{ project_name }}</p>
                        <p><div v-if="project_address">{{ project_address }}</div> <div v-if="project_house_number">{{ project_house_number }}</div></p>
                        <hr>
                        <p>
                            {{ id }}, {{ user_id }}
                            Last Update:
                        </p>
                        <p>
                            <router-link :to="{ name: 'projectdetails/:pid/:uid', params:{ pid: id, uid: user_id } }">Se Detaljer</router-link>
                        </p>
                    </div>
                </div>
            </div>
            <div v-else>
                <p>Du har ikke oprettet nogle projekter endnu: <a href="overview/index">opret et projekt</a></p>
            </div>
            <div v-if="error" class="error">
                <p>{{ error }}</p>
            </div>
        </div>
        <modal></modal>
    </div>
</template>
<script>
export default {
        data() {
            return {
                data: 'nothing',
                projects: []
            };
        },
        created() {
                this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.projects = null;
                this.loading = true;
                var uID = this.$store.getters.getUser.id;
                var axUrl = '/api/projects/' + uID;
                axios
                    .get(axUrl)
                    .then(response => {
                        this.loading = false;
                        this.projects = response.data;
                    }).catch(error => {
                        this.loading = false;
                        this.error = error.response.data.message || error.message;
                    });
            }
        },        
       
    }
        
    
</script>
<style scoped>
/* Content stying */
.overviewcontent {
    width: 80vw;
    margin: 0 auto;
}
.projectoutput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imagecontainer {
    position: relative;
}
.projectimage {
    max-width: 250px;
    height: auto;
    z-index: 1;
}
.projecticon {
    position: absolute;
    font-size: 2em;
    top: 15px;
    right: 15px;
    display: inline-flex;
    z-index: 2;
}
.projects-container {
    display: flex;
    max-width: 30%;
    margin-bottom: 13px;
    border-bottom: 1px solid gray;
}
.project-name {
    background-color: azure;
}
.project-information-section {
    margin-bottom: 5px;
}
.project-information-section p {
    margin-bottom: 5px;
    padding-left: 10px;
    min-width: 250px;
    font-weight: bold;
    font-size: 1.25em;
}
.project-information-section p:nth-last-of-type(1) {
    font-weight: 100;
    font-size: 1em;
}
</style>
