<template>
    <div class="form-wrapper">
            <div class="loginHeader">
                <div>
                    <img class="sitemotionLogo" src="images/sitemotion.png" />
                </div>
                <div class="loginMoto">
                    <p class="moto_1">The only inbox</p>
                    <p class="moto_2">for your site reports.</p>
                </div>
            </div>
            <form class="form-signin" v-on:submit.prevent="submitLogin">
                <h1>Login to sitemotion</h1>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus v-model="email">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required v-model="password">
                <button class="submit_button" type="submit">LOG IN</button>
            </form>
        </div>
</template>
<script>
    
    export default {
        data() {
            return {
                email: '',
                password: '',
                loginError: false,
            }
        },
        methods: {
            submitLogin() {
                this.loginError = false;
                axios.post('/api/auth/login', {
                    email: this.email,
                    password: this.password
                }).then(response => {
                    // login user, store the token and redirect to dashboard
                    this.$store.commit('loginUser')
                    // commits user api data to vuex store
                    this.$store.commit('setUser', response.data.user)
                   
                    localStorage.setItem('token', response.data.access_token)

                    this.$router.push({ name: 'dashboard' })
                }).catch(error => {
                    this.loginError = true
                });
            }
        }
    }
</script>
<style scoped>
.form-wrapper {
    min-height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background: -webkit-linear-gradient(-45deg, rgba(40,103,186,1) 0%,rgba(138,187,215,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(40,103,186,1) 0%,rgba(138,187,215,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.loginHeader {
    display: flex;
    align-items: center;
    max-height: 20vh;
}
.sitemotionLogo {
    width: auto;
    max-height:128px;
    margin: 5px;
}
.loginMoto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-height:128px;
}
.loginMoto p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.moto_1 {
    font-weight: bold;
    font-size: 3em; 
}
.moto_2 {
    font-size: 2.5em;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.submit_button {
    width: 250px;
    height: 25px;
    border-radius: 12.5px;
    background-color: blue;
}
</style>
