<template>

</template>

<script>
    import store from '../store/store'
    export default {
        mounted () {
            localStorage.removeItem('token')
            this.$store.commit('setUser', '')
            store.commit('logoutUser')
            this.$router.push({ name: 'login' })
            }
    }
</script>
