<template>
    <div class="flex">
        <div class="side">
            <sidebar></sidebar>
        </div>
        <div v-if="projects" class="main">
            <div v-for="project in projects" :key="project.id" class="projects-container">
                <div class="project-information-section">
                    <div class="imagecontainer">
                        <img class="projectimage" src="/images/img-placeholder.png" alt="project image"><i class="projecticon icon-star-empty"></i>
                    </div>
                    <p>{{ project.project_name }}</p>
                    <p>{{ project.project_address }} {{ project.project_house_number }}</p>
                    <hr>
                    <p>
                       Last Update: {{ project.updated_at }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions } from 'vuex'
    export default {
        
        name: 'projectdetails',     
        data() {
        return {
                data: 'nothing',
                projects: []
            };
        },
        created() {
                this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.projects = null;
                this.loading = true;
                var axUrl = '/api/projects/' + this.$route.params.uid + '/' + this.$route.params.pid;
                axios
                    .get(axUrl)
                    .then(response => {
                        this.loading = false;
                        this.projects = response.data;
                        this.$store.commit('setProject', response.data[0]);
                    }).catch(error => {
                        this.loading = false;
                        this.error = error.response.data.message || error.message;
                    });
            }
        }
    }
</script>
<style scoped>
.flex {
    display: flex;
    flex-direction:row
}
.side {
    width: 200px;
    height: 100%;
}
.main {
    margin-left: 20px;
    margin-top: 20px;
    left: 200px;
}
</style>
