<template>
  <div>
    <!--- Modal Toggle -->
    <div class="round-button">
      <div class="round-button-circle" id="modalOpen">
        <div class="cross">
          <Router-link class="link" :to="{ name: 'orderform' }">
            +
          </Router-link>
        </div>
      </div>
    </div>
    <!--- Modal content start -->
  </div>
</template>

<script>
</script>
<style>
#map {
  width: 750px;
  height: 500px;
}
/* Modal */
.nav-tabs {
  display: none;
}
.projectdocs {
  height: 25%;
  width: auto;
}
.prev-btn {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 100px;
}
.next-btn {
  background: #eb5757;
  border-radius: 100px;
}
/* Round button*/
.round-button {
  width: 100px;
  position: fixed;
  bottom: 10%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e2eaf3;
}

.round-button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #cfdcec;
  overflow: hidden;
  background: #ff1a1a;
  box-shadow: 0 0 3px gray;
}
.cross {
  font-family: Verdana;
  font-size: 4em;
  font-weight: bolder;
  text-decoration: none;
}
.round-button-circle:hover {
  background: #ff3333;
  cursor: pointer;
}
</style>
