<template>
    <!-- Top bar nav -->
    <div id='cssmenu'  v-if="isLoggedIn">
        <ul class="menuflex">
            <li class='active'>
                <a href='#'>Sitemotion.</a>
            </li>
            <li class="visibility">
            <!--    <app-breadcrumbs></app-breadcrumbs> -->
            </li>
            <li class='has-sub'>
                <a href='#'>{{ this.$store.getters.getUser.firstname }} {{ this.$store.getters.getUser.lastname }} </a>
                <ul>
                    <li>
                        <a href='#'>My account</a>
                    </li>
                    <li>
                        <router-link :to="{ name: 'logout' }">Logout</router-link>
                    </li>
                </ul>
            </li>
         </ul>
    </div>
</template>
<script>
    export default {
        name: "navbar",
        data: function () {
          return {}
        },
        computed: {
            isLoggedIn() {  return this.$store.state.isLoggedIn }            
        }       
    }
</script>
<style scoped>
/*
* Navbar
*/
.menuflex {
    display: flex;
    justify-content: space-between;
    max-height: 5vh;
}
#cssmenu {

    border: 0;
    background: #333;
    border-bottom: 4px solid #1b9bff;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    font-size: 12px;
}
#cssmenu ul,
#cssmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu ul {
    text-transform: uppercase;
    position: relative;
    z-index: 597;
}
#cssmenu ul li {
    min-height: 1px;
    vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
.has-sub ul {
    border-top: 4px solid #1b9bff;
    text-transform: none;
    min-width: 190px;
    position: absolute;
    left: 0;
    z-index: 598;
    bottom: 0;
    margin-top: 0;
    visibility: hidden;
}
.has-sub ul a {
    background: #1b9bff;
    color: #FFF;
    border: 1px solid #0082e7;
    border-top: 0 none;
    line-height: 150%;
    padding: 16px 20px;
}
.has-sub ul ul {
    top: 0;
    left: auto;
    right: -99.5%;
    border-top: 0 none;
}
#cssmenu ul li.has-sub:hover > ul {
    visibility: visible;
    left:auto;
    right: 0;

}
.has-sub ul li {
    font-weight: normal;
    float: none;
    position: relative
}
#cssmenu a {
    background: #333;
    color: #CBCBCB;
    padding: 0 20px;
    display: block;
    line-height: 48px;
    text-decoration: none;
}
#cssmenu > ul > li > a,
.lineheight {
    line-height: 48px;
}
.has-sub ul li:first-child > a {
    border-top: 1px solid #0082e7;
}
#cssmenu ul.has-sub ul li:hover > a {
    background: #35a6ff;
}
.has-sub ul li:last-child > a {
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 0 #1b9bff;
}
.has-sub ul li:last-child:hover > a {
    border-radius: 0 0 0 3px;
}
.has-sub {
    text-align: center;
}
.visibility {
    visibility:visible;
}
</style>
