<template>
    <div>
        <ul class="topbar">
            <li id="search">
                <form action="" class="topsearch" method="get">
                    <button type="button" name="search_button" class="searchicon underborder" id="search_button"><img src="/images/135-search.png"></button>
                    <input type="text" name="search_text" id="search_text" class="underborder" placeholder="Search" />
                </form>
            </li>
            <li id="sortoptions">
                <a href="#" class="sortdesc">Sort by: Most Recently Viewed</a>
                <ul class="subnav">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        name: 'topbarSection',
        }
</script>
<style scoped>
.topbar {
    display: flex;
    justify-content:space-between;
    height: 60px;   
}
.topbar li {
    float: left;
    list-style-type: none;
    position: relative;
}
#search {
    width: 357px;
    margin: 4px;
}
#search_text {
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    border: 0 none;
    border-bottom: 2px solid gray;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    float: left;
    color: black;
}


#search_button {
    border: 0 none;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 50px;
    cursor: pointer;
    border-bottom: 2px solid gray;
}
</style>
