<template>
    <!-- Sidebar -->
    <div class="sidebar">
        <div><Router-link class="link" :to="{ name: 'olist' }"><i class="fa fa-fw fa-home"></i>Aerial Maps</Router-link></div>
        <div><Router-link class="link" :to="{ name: 'olist' }"><i class="fa fa-fw fa-home"></i>Video Footage</Router-link></div>
        <div><Router-link class="link" :to="{ name: 'document' }"><i class="fa fa-fw fa-home"></i>Documents</Router-link></div>
        <div><Router-link class="link" :to="{ name: 'olist' }"><i class="fa fa-fw fa-home"></i>Point Clouds</Router-link></div>
        <div><Router-link class="link" :to="{ name: 'olist' }"><i class="fa fa-fw fa-home"></i>Order List</Router-link></div>
        <div><Router-link class="link" :to="{ name: 'psettings' }"><i class="fa fa-fw fa-home"></i>Project Settings</Router-link></div>
        <div><Router-link class="link" :to="{ name: 'dashboard' }"><i class="fa fa-fw fa-home"></i>Home</Router-link></div>
    </div>
</template>
<script>
    export default {
        name: 'ProjectSettings',
    }
</script>
<style scoped>
/* Style sidebar links */
.sidebar div {
    display: flex;
    align-items: center;
}
.sidebar {
    height: 100%;
    width: 200px;
    top: calc(5vh+4px);
    left: 0;
    position: absolute;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}
.link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
.link:hover {
    color: #f1f1f1;
}
</style>
