<template>
    <div>
        <div id="mapdiv"></div>
        <p>Cookies!</p>
    </div>
</template>

<script>
   

    document

    export default {
        
        name: 'document',
        methods: {
           GetMap() {
        var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
    }
        },
        created() {
            this.GetMap()
        }
    }
</script>
<style scoped>
    #mapdiv {
        width: 75vw;
        height: 75vh;
    }

</style>
