<template>
  <div class="flex">
    <div class="side">
      <sidebar></sidebar>
    </div>
    <div class="main">
      <b-form @submit="onSubmit">
        <b-tabs v-model="tabIndex" content-class="mt-3">
          <b-tab title="0" active>
            <div class="tabheader">

            </div>
            <b-container>
              <b-row>
                <b-col>
                  <h2 id="1">Welcome to Registation ordering Wizard ✨</h2>
                  <p
                    id="2"
                  >Make yourself a cup of coffee and make sure to set aside about 10 minutes of your time. During this process you will be asked to provide some information about the site that you would like to have scanned.</p>
                  <p id="3">To make the order, you will need to provide the following information:</p>
                  <p id="4">
                    - The location address or GPS coordinates
                    - The area that you would like to have a scanned
                    - Site ownership information
                    - Services that you will require
                    - Desired starting date
                  </p>
                  <p
                    id="5"
                  >After receiving your order, Sitemotion will match you with the nearest available registration provider. This process can take up to 48 hours, after which the status of your order will change.</p>
                  <p
                    id="6"
                  >You will be able to edit this information at a later point in the “Project Settings” tab of the project viewer.</p>
                </b-col>
                <b-col>
                  <b-img class="projectdocs" src="/images/register-docs.png" alt="project docs"></b-img>
                </b-col>
              </b-row>
            </b-container>
          </b-tab>
          <b-tab title="1">
            <b-form-group label="Individual radios">
              <b-form-radio
                name="project_choice"
                value="new"
              >Start from scratch on a new project location</b-form-radio>
              <p>You want to have a registration on an address that is not in the system yet.</p>
              <b-form-radio
                v-model="selected"
                name="project_choice"
                value="existing"
              >Pick an existing project location</b-form-radio>
              <p>You want a registration on an address that you already made orders for. This will allow you to skip entering the location information.</p>
              <div v-if="selected === 'existing'">
                <b-form-select
                  v-if="projects"
                  v-model="pselected"
                  id="projectID"
                  v-on:change="getSelectedItem"
                >
                  <template v-slot:first>
                    <option disabled>Vælg et projekt</option>
                  </template>
                  <option
                    v-for="project in projects"
                    v-bind:key="project.id"
                    :value="project.id"
                  >{{ project.title }}</option>
                </b-form-select>
              </div>
            </b-form-group>
          </b-tab>
          <b-tab title="2">
            <b-row class="my-1">
              <b-col>
                <div v-if="selectedProject">
                  <b-form-input id="input-addr" v-model="selectedProject.project_address"></b-form-input>
                  <b-form-group>
                    <b-form-input id="input-zip" v-model="selectedProject.project_postal_code"></b-form-input>
                    <b-form-input id="input-city" v-model="selectedProject.project_city"></b-form-input>
                  </b-form-group>
                  <b-form-group>
                    <b-form-input id="input-lat" size="sm" v-model="selectedProject.long"></b-form-input>
                    <b-form-input id="input-lon" size="sm" v-model="selectedProject.lat"></b-form-input>
                    <b-button id="flyTo" pill variant="outline-secondary">Go to location</b-button>
                  </b-form-group>
                  <div class="mt-3">
                    <strong>Hvor tæt befolket er området?</strong>
                  </div>
                  <b-form-select v-model="selected" :options="densityoptions"></b-form-select>
                </div>
                <div v-else>
                  <label for="input-addr">Where is your project located?:</label>
                  <b-form-input id="input-addr" size="sm" placeholder="Input Address"></b-form-input>
                  <b-form-group>
                    <b-form-input id="input-zip" size="sm" placeholder="Zip code"></b-form-input>
                    <b-form-input id="input-city" size="sm" placeholder="City"></b-form-input>
                  </b-form-group>

                  <b-form-group
                    description="Use the “Get GPS” button to check address. If your site doesn’t have and address yet, you can input the GPS coordinates directly."
                  >
                    <b-form-input id="input-lat" size="sm" placeholder="GPS latitiude"></b-form-input>
                    <b-form-input id="input-lon" size="sm" placeholder="GPS Longitude"></b-form-input>
                    <b-button pill variant="outline-secondary" id="gpsButton">Get GPS Coordianates</b-button>
                  </b-form-group>
                  <div class="mt-3">
                    <strong>Hvor tæt befolket er området?</strong>
                  </div>
                  <b-form-select v-model="selected" :options="densityoptions"></b-form-select>
                </div>
              </b-col>
              <b-col>
                <div id="mapOne" class="mapOne"></div>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="3">
            <b-row>
              <b-col>
                <b-form-select v-model="serviceselect" @change="serviceChange">
                  <option value disabled selected>Vælg den ønskede service</option>
                  <option
                    v-for="service in services"
                    v-bind:key="service.id"
                    :value="service.id"
                  >{{ service.service_name }}</option>
                </b-form-select>
                <b-form-select v-model="subserviceselect" @change="subServChange">
                  <option
                    v-for="subservice in subservices"
                    v-bind:key="subservice.id"
                    :value="subservice.id"
                  >{{ subservice.sub_service_name }}</option>
                </b-form-select>
                <p>
                  The deliverables for this service consist of:
                  - PHOTOS (JPEG, 1920x1080)
                  - VIDEOS (MPG, 1280x720, H.264 encoding)
                </p>
                <p>
                  <datepicker
                    v-model="date"
                    :format="DatePickerFormat"
                    :disabledDates="disabledDates"
                    :highlighted="highlighted"
                  ></datepicker>
                </p>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="5">
            <b-row>
              <b-col>
                <label for="input-addr">Where is your project located?:</label>

                <b-form-radio
                  v-model="selected"
                  name="map_p_choice"
                  value="2"
                  description="Mark the area where your project is located"
                >Mark coarse location of the building or area you want scanned</b-form-radio>
                <b-form-input id="calculated-area" size="sm" placeholder="Area"></b-form-input>
                <b-form-input id="calculated-perim" size="sm" placeholder="Perimiter"></b-form-input>
              </b-col>
              <b-col>
                <div id="mapTwo" class="mapTwo"></div>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="6">
            <b-col>
              <h2>Which pricing option would you like to proceed with?</h2>
              <b-form-checkbox
                id="checkbox-1"
                name="priocheck"
                value="high"
                unchecked-value="low"
              >I’d like to set high priority on this registration (fulfilled within the next 3 days)</b-form-checkbox>
              <b-row>
                <div>
                  <p>Single Registration</p>
                  <b-form-radio name="packagecheck" value="1">DKK. 100.000,-</b-form-radio>
                  <p>DKK. 100,-/sqm.</p>
                </div>
                <div>
                  <p>10-Flight Bundle (Save 20%)</p>
                  <b-form-radio name="packagecheck" value="2">DKK. 1800.000,-</b-form-radio>
                  <p>DKK. 80,-/sqm.</p>
                </div>
              </b-row>
            </b-col>
          </b-tab>
          <b-tab title="7">
            <b-row>
              <b-col>
                <label for="p-name">What should we name this project?</label>
                <b-form-input id="p-name" trim></b-form-input>

                <label for="p-owner">Are you the owner or manager of this location?</label>
                <b-form-select id="p-owner" v-model="powner" :options="owneroptions"></b-form-select>
                <b-form-input
                  type="text"
                  name="ownerNinput"
                  :disabled="powner === 1"
                  class="mt-3"
                  placeholder="Owners Name"
                ></b-form-input>
                <b-form-input
                  type="text"
                  name="ownerEinput"
                  :disabled="powner === 1"
                  class="mt-3"
                  placeholder="Owners Email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="8">
            <b-row>
              <b-col>
                <h1>Basic Information</h1>
                <p>Title: My Awesome Project</p>
                <p>Type: Construction Site</p>
                <p>Thumbnail: No thumbnail chosen</p>
                <h1>Project Ownership</h1>
                <p>You’re a: Manager of this site</p>
                <p>Owner: John doe, jd@mail.dk</p>
              </b-col>
              <b-col>
                <h1>Project Location</h1>
                <p>Address: Pjentedamsgade 6, 5000 Odense, Denmark</p>
                <p>GPS: 55.398841701877245 : 10.394873307752391</p>
                <p>Density: Inner city - Heavy traffic</p>
                <h1>First Registration</h1>
                <p>Date: Not chosen</p>
                <p>Services: Sitemotion 3D, Pre-Registration</p>
                <p>Registration frequency: Weekly</p>
              </b-col>
            </b-row>
          </b-tab>

          <b-button-group class="mt-2">
            <b-button
              class="float-right"
              v-if="tabIndex !== 0"
              pill
              variant="outline-dark"
              @click="tabIndex--"
            >Previous</b-button>
            <b-button
              class="float-right"
              v-if="tabIndex !== 8"
              pill
              variant="danger"
              @click="tabIndex++"
            >Next</b-button>
            <b-button
              class="float-right"
              v-else-if="tabIndex == 1||selectedProject"
              pill
              variant="danger"
              tabindex="3"
            >step 4</b-button>

            <b-button class="float-right" v-else pill variant="danger" @click="tabIndex++">Bestil</b-button>
          </b-button-group>
        </b-tabs>
      </b-form>
    </div>
  </div>
</template>


<script>
import MapboxDraw from "@mapbox/mapbox-gl-draw";
import * as turf from "@turf/turf";
import Datepicker from "vuejs-datepicker";
export default {
  name: "orderlist",
  components: {
    Datepicker
  },
  data() {
    return {
      lng: 10.2319,
      lat: 55.2345,
      tabIndex: 0,
      selected: null,
      pselected: null,
      subselected: null,
      powner: "",
      name: "",
      serviceselect: "",
      subserviceselect: "",
      subServID: "",
      date: "",
      services: [],
      subservices: [],
      dawaResponse: [],
      projects: [],
      selectedProject: [],
      densityoptions: [
        { value: null, text: "Population Density", Disabled: true },
        { value: "1", text: "Lav, Landbrugs område" },
        { value: "2", text: "Mellem, Villakvarter" },
        { value: "3", text: "Tæt, Svært traffikeret" }
      ],
      owneroptions: [
        { value: "1", text: "Manager" },
        { value: "2", text: "Owner" }
      ],
      disabledDates: {
        to: new Date(Date.now() + 259200000),
        days: [6, 0]
      },
      highlighted: {
        days: [6, 0],
        includeDisabled: true
      },
      DatePickerFormat: "dd/MM/yyyy"
    };
  },

  methods: {
    onSubmit(evt) {
      evt.preventDefault(), alert(JSON.stringify(this.form));
    },

    createMapOne: function() {
      mapboxgl.accessToken =
        "pk.eyJ1IjoiYnVpbGRjb2RlIiwiYSI6ImNqejNzenp0bDA2Z3YzZHBhNXBmMWlreXMifQ.Mg8mThbXFbWLkxFaJ_y0Wg";
      var mapOne = new mapboxgl.Map({
        container: "mapOne", // container id
        style: "mapbox://styles/buildcode/cjzjfzuar0x3u1cr3e26z3dw6", // style id
        center: [10.2319, 55.2345], // starting position
        zoom: 12, // starting zoom
        attribution: ""
      });
      var marker = null;

      mapOne.on("click", e => {
        // Remove old marker if it exist before generating the new.
        if (marker !== null) {
          marker.remove();
        }
        // create the marker
        marker = new mapboxgl.Marker().setLngLat(e.lngLat).addTo(mapOne);
        var lng = e.lngLat.lng; // X coordinates
        var lat = e.lngLat.lat; // Y coordinates

        var axUrl =
          "https://dawa.aws.dk/adgangsadresser/reverse?x=" +
          lng +
          "&y=" +
          lat +
          "&struktur=mini";

        this.error = this.dawaResponse = null;
        this.loading = true;
        axios
          .get(axUrl)
          .then(response => {
            this.loading = false;
            this.dawaResponse = response.data;

            var addr = response.data.vejnavn + " " + response.data.husnr;

            document.getElementById("input-addr").value = addr;
            document.getElementById("input-zip").value = response.data.postnr;
            document.getElementById("input-city").value =
              response.data.supplerendebynavn;
          })
          .catch(error => {
            this.loading = false;
            this.error = error.response.data.message || error.message;
          });
      });
      document.getElementById("flyTo").addEventListener("click", function() {
        var lng = document.getElementById("input-lon").value;
        var lat = document.getElementById("input-lat").value;
        mapOne.flyTo({ center: [lng, lat], zoom: 13 });
        marker = new mapboxgl.Marker().setLngLat([lng, lat]).addTo(mapOne);
      });
    },
    createMapTwo: function() {
      mapboxgl.accessToken =
        "pk.eyJ1IjoiYnVpbGRjb2RlIiwiYSI6ImNqejNzenp0bDA2Z3YzZHBhNXBmMWlreXMifQ.Mg8mThbXFbWLkxFaJ_y0Wg";
      var mapTwo = new mapboxgl.Map({
        container: "mapTwo", // container id
        style: "mapbox://styles/buildcode/cjzjfzuar0x3u1cr3e26z3dw6",
        center: [10.2319, 55.2345], // starting position
        zoom: 12, // starting zoom
        attribution: ""
      });
      var draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
          polygon: true,
          trash: true
        }
      });
      mapTwo.addControl(draw);
      mapTwo.on("draw.create", updateArea);
      mapTwo.on("draw.delete", updateArea);
      mapTwo.on("draw.update", updateArea);
      function updateArea(e) {
        var data = draw.getAll();
        var areaAnswer = document.getElementById("calculated-area");
        var primAnswer = document.getElementById("calculated-perim");

        if (data.features.length > 0) {
          var area = turf.area(data);
          // restrict to area to 2 decimal points
          var rounded_area = Math.round(area * 100) / 100;
          var length = turf.length(data, { units: "kilometers" }) * 1000;
          console.log(length);
          console.log(rounded_area);
          areaAnswer.value = rounded_area;
          primAnswer.value = length;
        } else {
          areaAnswer.value = "";
          if (e.type !== "draw.delete")
            alert("Use the draw tools to draw a polygon!");
        }
      }
    },
    fetchUserProjects() {
      this.error = this.projects = null;
      this.loading = true;
      var uID = this.$store.getters.getUser.id;
      var axUrl = "/api/projects/" + uID;
      axios
        .get(axUrl)
        .then(response => {
          this.loading = false;
          this.projects = response.data;
        })
        .catch(error => {
          this.loading = false;
          this.error = error.response.data.message || error.message;
        });
    },
    getSelectedItem: function() {
      this.error = this.selectedProject = null;
      this.loading = true;
      var uID = this.$store.getters.getUser.id;
      var pID = this.pselected;
      var axUrl = "/api/projects/" + uID + "/" + pID;
      axios
        .get(axUrl)
        .then(response => {
          this.loading = false;
          this.selectedProject = response.data[0];
        })
        .catch(error => {
          this.loading = false;
          this.error = error.response.data.message || error.message;
        });
    },
    getServices: function() {
      this.error = this.services = null;
      this.loading = true;
      var axUrl = "/api/services";
      axios
        .get(axUrl)
        .then(response => {
          this.loading = false;
          this.services = response.data;
        })
        .catch(error => {
          this.loading = false;
          this.error = error.response.data.message || error.message;
        });
    },
    serviceChange: function() {
      this.error = this.subservices = null;
      this.loading = true;
      console.log(this.serviceselect);
      var pID = this.serviceselect;
      var axUrl = "/api/subservices/" + pID;
      axios
        .get(axUrl)
        .then(response => {
          this.loading = false;
          this.subservices = response.data;
        })
        .catch(error => {
          this.loading = false;
          this.error = error.response.data.message || error.message;
        });
    },
    subServChange: function() {
      var subServID = this.subserviceselect;
      let result = subservices.filter(obj => {
        return obj.id === subServID;
      });
      console.log(result);
    }
  },

  mounted() {
    this.createMapOne();
    this.createMapTwo();
    this.fetchUserProjects();
    this.getServices();
  }
};
</script>
<style>
.flex {
  display: flex;
  flex-direction: row;
}
.marker {
  background-image: url("/images/Map-marker.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.tabheader {
  height: 10%vh;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}
.side {
  width: 200px;
  height: 100%;
}

.main {
  margin-left: 20px;
  margin-top: 20px;
  left: 200px;
}
#mapOne {
  height: 400px;
  width: 500px;
}
#mapTwo {
  height: 400px;
  width: 500px;
}
.col {
  max-height: 750px;
}
</style>
