<template>
    <div class="flex">
        <div class="side">
            <sidebar></sidebar>
        </div>
        <div class="main">
            <div v-if="project">
                <div class="locationsec">
                    <div class="sidedesc">
                        <p>Project Location</p>
                        <p>Street Address, GPS coordinates and site population density</p>
                    </div>
                    <div class="locdetails">
                        <form>
                            <div>

                                <input type="text" name="siteaddress" id="siteaddress" :placeholder="project.project_address" /><input type="text" name="sitezip" id="sitezip" :placeholder="project.project_postal_code" />
                            </div>
                            <div>
                                <input type="text" name="city" id="city" :placeholder="project.project_city"/>
                                <select name="country" id="countrypicker">
                                    <option value="1">Denmark</option>
                                </select>
                                <button type="button" name="gpscoordsbtn" id="gpscoordsbtn">Get gps coordinates</button>
                            </div>
                            <div>
                                <label for="popdensity">How dense is the population there</label>
                                <select id="densitypicker" name="popdensity">
                                    <option value="1">Dense, heavy populated</option>
                                    <option value="2">Medium populated</option>
                                    <option value="3">Agricultural, lightly populated</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="locmap">
                        <div>
                           
                            <p>
                                <input type="text" name="lat" id="lat" :placeholder="project.lat" />
                                <input type="text" name="long" id="long" :placeholder="project.long" />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ownershipsec">
                    <div class="sidedesc">
                        <p>Site Ownership</p>
                        <p>Does this site belong to you</p>
                    </div>
                    <div class="managerdetails">
                        <div>
                            <label for="ownerselect">Are you the oiwner or manager of the location</label>
                            <select id="ownerselect" name="onwerselect">
                                <option value="1">Owner</option>
                                <option value="2">Manager</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" name="ownername" id="ownername" placeholder="Owner Name" />
                            <input type="text" name="owneremail" id="owneremail" placeholder="Owner Email" />
                        </div>
                    </div>
                </div>
                <div class="dangersec">
                    <div class="sidedesc">
                        <p>Danger Zone</p>
                        <p>Warning! These options are irreversible</p>
                    </div>
                    <div class="dangerdetails">
                        <h1>Delete Project</h1>
                        <button name="deleteproject" id="deleteproject">Delete Project</button>
                        <p>
                            If you delete this project, you will not be able to access any of the registration data from your dashboard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
     </div>
</template>

<script>
   
    export default {
        name: 'ProjectSettings',
        components: {
              },
        data() {
            return {
                accessToken: 'pk.eyJ1IjoiYnVpbGRjb2RlIiwiYSI6ImNqejNzenp0bDA2Z3YzZHBhNXBmMWlreXMifQ.Mg8mThbXFbWLkxFaJ_y0Wg',
                mapStyle: 'mapbox://styles/buildcode/cjzjfzuar0x3u1cr3e26z3dw6',
                data: 'nothing',
                project: [],
                
            };
        },
        created() {
            this.fetchData();
       
        },
        methods: {
            fetchData() {
                console.log(this.$store.getters.getProject);
                this.project = this.$store.getters.getProject;
            },   
        }
    }
    
</script>
<style scoped>
    .flex {
    display: flex;
    flex-direction:row
}
.side {
    width: 200px;
    height: 100%;
}
.main {
    margin-left: 20px;
    margin-top: 20px;
    left: 200px;
}
#map {
  width: 100%;
  height: 500px;
}
</style>
